<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="alumnos.css">
</head>
<body>
    <header>
        <h1>Dr. Jesús Alberto Martínez Castro</h1>
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="alumnos.html">Alumnos</a></li>
                <li><a href="#">Líneas de investigación</a></li>
                <li><a href="#">Material de apoyo</a></li>
            </ul>
        </nav>
    </header>

    <!-- Imagen principal de sección alumnos-->
    <section class="contenedor-img">
        <div class="texto-sobre-imagen">Alumnos</div>
        
        <div class="galeria">
            <div class="galeria_item">
                <img src="./img/alumno1.jpg" alt="Imagen de alumnos 1">
            </div>
            <div class="galeria_item">
                <img src="./img/alumno2.jpg" alt="Imagen de alumnos 2">
            </div>
            <div class="galeria_item">
                <img src="./img/alumno3.jpg" alt="Imagen de alumnos 3">
            </div>
            <div class="galeria_item">
                <img src="./img/alumno4.jpg" alt="Imagen de alumnos 4">
            </div>
            <div class="galeria_item">
                <img src="./img/alumno5.jpg" alt="Imagen de alumnos 5">
            </div>
            <div class="galeria_item">
                <img src="./img/alumno6.jpg" alt="Imagen de alumnos 6">
            </div>
            <div class="galeria_item">
                <img src="./img/alumno1.jpg" alt="Imagen de alumnos 1">
            </div>
            <div class="galeria_item">
                <img src="./img/alumno2.jpg" alt="Imagen de alumnos 2">
            </div>
        </div>
    </section>

    <!--Cards de los alumnos-->
    <section class="contenedor-alumnos">
        <h2>Trabajos de los alumnos</h2>

        <!--Contenedor de las cards de los alumnos-->
        <div class="cards-alumnos">

            <!--Card de un alumno-->
            <div class="card-alumno"> 
                <div class="info-alumno">
                    <img src="./img/alumno1.jpg" alt="foto alumno">
                    <p>Nombre de alumno</p>
                </div>
                <div class="trabajos-alumno">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre de trabajo</th>
                                <th>Link de trabajo</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Probabilidad y estadística</td>
                            <td>
                                <div id="link-td">
                                    <a href="">Ver</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Probabilidad y estadística</td>
                            <td>
                                <div id="link-td">
                                    <a href="">Ver</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Probabilidad y estadística</td>
                            <td>
                                <div id="link-td">
                                    <a href="">Ver</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Probabilidad y estadística</td>
                            <td>
                                <div id="link-td">
                                    <a href="">Ver</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card-alumno">
                <div class="info-alumno">
                    <img src="./img/alumno1.jpg" alt="foto alumno">
                    <p>Nombre de alumno</p>
                </div>
                <div class="trabajos-alumno">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre de trabajo</th>
                                <th>Link de trabajo</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Probabilidad y estadística</td>
                            <td>
                                <div id="link-td">
                                    <a href="">Ver</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            
        </div>
    </section>
    
    <footer>
        &copy; 2023 - Derechos reservados
    </footer>
    <script src="alumnos.js"></script>
</body>
</html>
